flows.json
[{"id":"b37d5bec.3409e8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b49c2af4.71a7c8","type":"mynode","z":"b37d5bec.3409e8","name":"mynode","x":500,"y":240,"wires":[["d2d6ef9a.69a43"]]},{"id":"ab54f730.b62b68","type":"inject","z":"b37d5bec.3409e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":220,"wires":[["b49c2af4.71a7c8"]]},{"id":"d2d6ef9a.69a43","type":"debug","z":"b37d5bec.3409e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":220,"wires":[]}]